{{set . "title" "Alternatif"}}
{{template "header.html" .}}

<h2 class="text-center">Tambah Alternatif</h2>

<div class="container">
  <div class="row">
  <div class="span6">
    {{template "flash.html" .}}
  </div>
  </div>
</div>

<div class="container">
  <form action="{{url "Alternatif.Create"}}" method="POST" id="form_add">
    <div class="form-group">
      <div class="row">
        <label for="nama_alternatif" class="col-xs-2">Nama Alternatif</label>
        {{with $field := field "nama_alternatif" .}}
          <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" class="col-xs-8">
        {{end}}
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <label for="keterangan" class="col-xs-2">Keterangan</label>
        {{with $field := field "keterangan" .}}
          <textarea name="{{$field.Name}}" class="col-xs-8">{{$field.Flash}}</textarea>
        {{end}}
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <button type="submit" class="btn btn-success col-xs-4 btn-add"> 
          <i class="fa fa-plus"></i> Add
        </button>
      </div>
    </div>
  </form>
</div>

<script>
  $(".btn-add").on("click", function(e) {
    e.preventDefault();
    let formData = new FormData($("#form_add")[0])
    let postData = {};
    formData.forEach(function(value, key){
      postData[key] = value;
    });
    console.log(JSON.stringify(postData));
    $.ajax({
      url: "{{url "Alternatif.Create"}}",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify(postData),
      success: function() {
        window.location = "{{url "Alternatif.Create"}}";
      }
    });
  });
</script>
{{template "footer.html" .}}